@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
  --clr-orange-1: #f5ceb4;
  --clr-orange-2: #f8a873;
  --clr-orange-3: #f38841;
  --clr-orange-4: #db5e0a;
  --clr-orange-5: #a1490f;
  --clr-grey-border: #746d69;
  --clr-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
}

@media (min-width: 750px) {
  .main {
    background: rgb(206, 238, 238);
    order: 2;
  }
  .national {
    background: rgb(213, 236, 213);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, auto));
    margin: 0 auto;
  }
}
.global {
  background: rgb(32, 99, 76);
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  height: 250px;
  overflow-y: auto;
}
.navbar {
  background: #3b5998;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 2rem;
}
.navbar h2 {
  color: #fff;
  padding: 0.8rem;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #fff;
}
.navbar a:hover {
  color: black;
  background-color: #fff;
  border-radius: 0.2rem;
}

footer {
  background: rgb(157, 158, 168);
  position: relative;
  bottom: 0;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 2rem;
  margin: 0 auto;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#national_monthly {
  background: whitesmoke;
  height: 250px;
  grid-column: span 1;
}

#national_vaccinated {
  background: rgb(167, 204, 176);
  height: 250px;
}

#national_tested {
  background: rgb(206, 196, 250);
  height: 250px;
}

#national_treated {
  background: rgb(243, 221, 187);
  height: 250px;
}

#national_yearly {
  background: rgb(206, 196, 250);
  height: 250px;
  grid-column: span 2;
}

#national_age {
  background: rgb(207, 232, 236);
  height: 250px;
}

#national_sex {
  background: rgb(207, 232, 236);
  height: 250px;
}

#national_local {
  background: rgb(236, 236, 186);
  grid-column: span 3;
  height: 250px;
}

#global_country {
  background: rgb(169, 211, 238);
  width: 375px;
  height: 3000px;
  float: right; /* 오른쪽 정렬
      /* position: relative; */
}
